name: "2024"
on:
  push:
    paths:
      - "2024/**"
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x
      - run: cd 2024 && deno fmt --check
      - run: cd 2024 && deno lint
      - run: cd 2024 && deno test
